h1{
    text-align: center;
}
table{
    margin:auto;
    /* border-collapse: collapse; */
}
td{
    height:100px;
    width:100px;
}
.vertical{
    border-left: black 2px solid;
    border-right: black 2px solid;
}
.horizontal{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}