html, body{
    height:100%;
    width: 100%;
    margin: 0;
}

#centered{
    background-color: azure;
    border: 2px black solid;
    text-align: center;
    margin: Auto;
    padding: 50px;
    width: 300px;

}