body{
    background: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: #FF0000;
}
h4{
    background-color: RGB(255,100,80);
}
li{
    color: rgba(0,0,0,.5);
}

div{
    background-color: lightgray;
    color: white;
    height: 100px;
    width: 200px;
}